@keyframes blink-animation
{
    from
    {
        background-color: #333333;
    }
    to {
        background-color: #337733;
    }
}

body
{
    margin:0px;
    height:100vh;
    font-family: Helvetica, sans-serif;
    color:white;
    background: #000000;
    text-align:center;
    overflow:hidden;
}

input
{
    background:#444444;
    color:white;
    border:0px;
    margin:1px 1px 0px 0px;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-size:12pt;
}

button
{
    background:#3A3A3A;
    color:white;
    border:0px;
    margin:1px 1px 0px 0px;
    flex-grow: 1;
    height:40px;
    font-family: Helvetica, sans-serif;
    font-size:12pt;
    font-weight: bold;
    width:0;
}

.small_button
{
    height: 32px;
}

.suffix
{
    font-size:12pt;
    background:#443366;
    height:28px;
}

.menu
{
    font-size:12pt;
    background:#666600;
    height:28px;
}

.digit
{
    background:#666666;
    font-size:30pt;
    height:54px;
}


.hex
{
    background:#444466;
    font-size:30pt;
    height:54px;
}

.normal
{
    font-size:30pt;
    height:54px;
}

.equal
{
    font-size:24pt;
    height:54px;
    background:#336644;
}

.acc
{
    font-size:12pt;
    height:24px;
    background:#333377;
}

.previous
{
    font-size:12pt;
    height:24px;
    background:#335566;
}

@media (hover: hover) and (pointer: fine)
{
    button:hover
    { 
        background:#222222;
        color:#AAAAAA;
    }
}

@media only screen and (hover: none) and (pointer: coarse)
{
    .normal
    {
        height:68px;
    }

    .equal
    {
        height:68px;
    }

    .digit
    {
        height:68px;
    }

    
    .hex
    {
        height:68px;
    }

    .blink
    {
        animation: blink-animation 0.5s infinite;
    }

}

button:active
{
    background:#222222;
    color:#AAAAAA;
}

p
{
    margin:5px;
    font-size:12pt;
    font-family: font-family: Helvetica, sans-serif;
    object-fit:scale-down;
}

p:last-child
{
    font-size:32pt;
    font-weight: bold;
}

#cursorpos
{
    background:#222222BB;
    font-family: font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding:1px;
    font-size:8pt;
}

textarea
{
    border:0px;
    font-size:12pt;
    color:white;
    background:#444444;
    font-family: Courier New;
}

